services:
  caddy:
    build:
      context: .
      dockerfile: Dockerfile
    image: caddy
    container_name: caddy
    restart: always
    cap_add:
      - CAP_NET_BIND_SERVICE
    networks:
      - web
      - proxy-tier
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - data:/data
      - config:/config
      - sockets:/dev/shm
      - /var/log:/var/log
      - /etc/localtime:/etc/localtime:ro
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
      - ./html:/var/www/html
      - ./etc/config.json:/etc/caddy/config.json
    command: caddy run --config /etc/caddy/config.json
    logging:
      driver: "json-file"
      options:
        max-size: "10m" # rotate when log reaches 10MB
        max-file: "3" # keep at most 3 rotated log files

volumes:
  data:
  config:
  sockets:
    external: true

networks:
  web:
    enable_ipv6: true
    external: true
  proxy-tier:
    enable_ipv6: true
    external: true
